%table
  %thead
    %tr
      %th Artist
      %th Album
      %th Title
      %th.pull-right Length
  %tbody
    - queue.each do |song|
      %tr
        %td= song.artist
        %td= song.album
        %td= song.title
        %td.pull-right= time_to_str(song.time)
